/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body.dark {
  background-color: #222;
  color: white;
}

img {
  max-width: 100%;
  display: inline-block;
  max-height: 100%;
  object-fit: contain;
  cursor: pointer;
}

a {
  color: #4591fbc9;
  text-decoration: none;
}

input,
button{
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  text-align: center;

}

button{
  border: none;
  padding: 3px 9px;
  border-radius: 3px;
  transition: transform 0.2s ease-in-out;
}

button:hover{
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}